.container {
  font-family: 'Manrope', sans-serif;
  width: 1440px;
  padding: 75px 128px 150px 128px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  gap: 20px;
  height: 52px;
  margin-bottom: 44px;
  box-shadow: -12px 25px 7px -23px rgba(152, 178, 230, 0.58);
}

.link {
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #121417;

  &:hover {
    color: #3470ff;
  }

  &:focus {
    color: #3470ff;
  }
}

.active {
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #3470ff;
}
