li {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 29px;
  row-gap: 50px;
}

.thumb {
  font-size: 16px;
  font-weight: 500;
  color: #121417;
}

.img {
  width: 274px;
  height: 268px;
  flex-basis: calc((100% - 3 * 28) / 4);
  border-radius: 12px;
}

.span {
  color: #3470ff;
  margin-left: 4px;
}

.price {
  margin-left: auto;
}

.makeyear {
  display: flex;
}

.accessories {
  font-size: 12px;
  font-weight: 400;
  color: #121417;
  opacity: 50%;
}
